{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'core.css'%}">
    <script src="{%static 'core.js'%}"></script>
    <title>Temporary</title>
</head>
<body>

    <nav>
        <div class="navbar">
            <!-- <img class="logo" src="/" alt="logo" /> -->
            <!-- <h1 class="logo">Logo</h1> -->
            <h1 class="logo">Heart Beat Analysis</h1>
        </div>
        <ul class="nav_links">
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <!-- <li class="signup_li"><a class="signup" href="/signup">Sign Up</a></li>
          <li class="login_li"><a class="login" href="/login">login</a></li> -->
        </ul>
    </nav>
    <hr>

    <div class="prediction">
        <div class="pred">
            {%for key,value in lstm.items%}
                <p class="key-val">{{key}}: {{value}}</p>
                <!-- <p class="value">{{value}}</p> -->
            {% endfor%}
        </div>

    </div>
 
    <!-- <p>
        {{inputFile}}
    </p> -->

</body>
</html>